.suggestion {
    padding: 2px;
    text-align: center;
    width: 100%;
    display: block;
    margin: auto;
}
.suggestion-active, .suggestions li:hover {
    background: cyan;
    color: #212121;
    cursor: pointer;
    font-weight: 600;
}
.suggestions li {
    color: #212121;
    padding: 0.5rem;
    border-radius: 1em;
}
h1 {
    color: #212121;
}
.suggestions {
    border: 1px solid #999;
    border-top-width: 0;
    border-radius: 0.5em;
    list-style: none;
    margin-top: 1.5rem;
    /* max-height: 20%; */
    overflow-y: auto;
    padding-left: 0;
    width: 10%;
    display: block;
    position: absolute;
    background-color: #fff;
}


.autocomplete-input {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
    text-decoration: none !important;
    padding-left: 1em;
}