nav {
    /* background: linear-gradient(90deg, #189ab4 10%, #75e6da 90% ); */
    background: #001920;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    top: 0;
    /* position: absolute; */
}
h1, a {
    color: #fff;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
}
a:hover {
    /* color: #212121; */
    font-weight: 800;
}
.nav-ul li {
    color: white;
    padding: 10px;
    margin-left: 20px;
    width: 20%;
}
.nav-ul ul {
    display: flex;
    width: 50%;
    margin: 0;
}
ul {
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    justify-content: end;
    width: 70vw;
    margin-right: 2em;
}