.div {
    border: 1px solid #999;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    margin-top: 1.5rem;
    background: aliceblue;
}

header {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;

}
.buttons {
    justify-content: flex-end;
    display: flex;
}
.profile {
    display: block;
}
.buttons, .profile {
 
    padding: 15px;
    width: 50%;
}
.forecast-text {
    width: 50%;
    margin: auto;   
    color: #212121 !important;
    font-weight: 400;
}

.profile h2, p{
    width: 25%;
    padding: 10px;
}

.buttons button {
    width: 25%;
    padding: 15px;
    margin: 10px;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

}

.cityList {
    margin: auto;
    padding: 0;
    padding-top: 25px;
    padding-bottom: 10px;
    justify-content: center;
    text-align: center;
    display: flex;
    width: 100%;
}
.cityList li, .cityList h1{
    color: #212121 !important;
    white-space: nowrap;
    margin: auto;
}

.cityList h1 {
    font-size: 1.5rem;
}
.cityList p {
    width: 100%;
    padding: 0;
}
.cityList li {
    border: 1px solid #212121;
    border-radius: 15px;
    padding: 10px;
    width: 15%;
    background: #fff;
}