.div {
    border: 1px solid #999;
    border-radius: 0.5em;
    width: 50%;
    margin: auto;
    margin-top: 1.5rem;
    background: aliceblue;
}

.header {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;

}
.buttons {
    justify-content: flex-end;
    display: flex;
}
.profile {
    display: block;
}
.buttons, .profile {
 
    padding: 1em;
    width: 50%;
}
.forecast-text {
    width: 50%;
    margin: auto;   
    color: #212121 !important;
    font-weight: 400;
    font-size: 2em;
}

.profile h2, p{
    width: 25%;
    padding: 0.5em;
}

.buttons button {
    width: 25%;
    padding: 1em;
    margin: 1em;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

}

.forecastList {
    margin: auto;
    padding: 0;
    padding-top: 1.5em;
    padding-bottom: 1em;
    justify-content: center;
    text-align: center;
    display: flex;
    width: 100%;
}
.forecastList li, .forecastList h1{
    color: #212121 !important;
    white-space: nowrap;
    margin: auto;
}

.forecastList h1 {
    font-size: 1.5rem;
}
.forecastList p {
    width: 100%;
    padding: 0;
}
.forecastList li {
    border: 1px solid #212121;
    border-radius: 0.5em;
    padding: 0.5em;
    width: 15%;
    background: #fff;
}


@media (max-width: 960px) {
    .header {
        display: block;
    }
    .header div {
        font-size: 1em;
        margin: auto;
    }
    .header h2, .header p {
        margin: auto;
        width: fit-content;

    }
    .forecastList h1 {
        font-size: 1.5em;
    }
    .forecastList {
        display: block;
    }
    .forecastList li {
        width: 75%;
        margin: 1em auto;
        
    }
}